# Dependencias
node_modules

# Build
dist
dist-ssr
*.local

# Tests y cobertura
coverage

# Entorno
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editores
.idea
.vscode/*
!.vscode/extensions.json
*.swp
